* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid Black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    width: 100%;
    position: fixed, relative;
}

main {
    background-color: whitesmoke;
    height: 100vh;
}

header img {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 10px;
}

h2 {
    font-family: 'Kanit', sans-serif;
    color: rgb(21, 21, 21);
    font-size: 30px;
}

main article {
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
}

main article .box {
    height: max-content;
    width: 130px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
}

#space {
    padding: 5px;
}

main article .box img {
    height: 150px;
    filter: brightness(2);
    width: 100%;
}

main article .box h4 {
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}

main article .box b {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-style: bolder;
}

main article .box p {
    font-size: 8px;
    color: gray;
    font-family: 'Poppins', sans-serif;
}

main article .box a {
    text-decoration: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 10px;
    color: black;
    background-color: #ededed;
    border-radius: 20px;
    padding: 8px;
    margin-top: 5000px;
    /* margin-left: 5000px; */
}